{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@config": "./src/config",
          "@constants": "./src/constants",
          "@hooks": "./src/hooks",
          "@redux": "./src/redux",
          "@screens": "./src/screens",
          "@utils": "./src/utils",
          "@root": "./src"
        }
      }
    ]
  ]
}
